# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 1'  # At 02:00 on Sunday
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Install modules from PSGallery
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module az.accounts,az.storage,Microsoft.Graph.Authentication,Microsoft.Graph.Applications

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.13.5'
        
      #- name: Authenticate to Microsoft Graph
        #  shell: pwsh
        #  run: |
        #    Connect-MgGraph -ClientId ${{ secrets.AZURE_CLIENT_ID }} -TenantId ${{ secrets.AZURE_TENANT_ID }} -scope "Directory.Read.All"

       #Login in to the Azure environment which profides the Terraform state
      - name: Azure CLI Login for TF State
        uses: azure/login@v2
        env:
          AZURE_LOGIN_PRE_CLEANUP: false
          AZURE_LOGIN_POST_CLEANUP: false
        with:
          client-id: ${{ secrets.TF_AZ_CLIENT_ID }}
          tenant-id: ${{ secrets.TF_AZ_TENANT_ID }}
          subscription-id: ${{ secrets.TF_AZ_SUBSCRIPTION_ID }}  
          allow-no-subscriptions: false 
      
      # Login in to the Azure Sandbox environment
      - name: Azure CLI Login for Deployment
        uses: azure/login@v2
        env:
          AZURE_LOGIN_PRE_CLEANUP: false
          AZURE_LOGIN_POST_CLEANUP: false
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          enable-AzPSSession: true
          allow-no-subscriptions: true

      #- name: Azure CLI script
      #  uses: azure/cli@v2
      #  with:
      #    azcliversion: latest
      #    inlineScript: |
      #      az account list
      #      az account set --subscription ${{ secrets.TF_AZ_SUBSCRIPTION_ID }}
   
      - name: Terraform Init
        id: init
        env:
          #ARM_CLIENT_ID: ${{ secrets.TF_AZ_CLIENT_ID }}
          #ARM_TENANT_ID: ${{ secrets.TF_AZ_TENANT_ID }}
          #ARM_SUBSCRIPTION_ID: ${{ secrets.TF_AZ_SUBSCRIPTION_ID }}
          ACCESS_KEY: ${{ secrets.ACCESS_KEY}}
          #RESOURCE_GROUP: 'rg-tfstae-gwc-prd'
          STORAGE_ACCOUNT: 'sttfstategwcprd'
          CONTAINER_NAME: 'state'
          WORKING_DIRECTORY: './'      
        run: terraform init -backend-config="storage_account_name=$STORAGE_ACCOUNT" -backend-config="container_name=$CONTAINER_NAME" -backend-config="key=terraform.tfstate" -backend-config="access_key=$ACCESS_KEY"
      
        # Run a terraform plan
      #- name: Terraform Plan
      #  id: plan
      #  env:
      #    ARM_CLIENT_ID: "d6ea5a29-28c8-4451-8497-695886d95ea8"
      #    ARM_TENANT_ID: "85267153-8057-47e2-8a1c-09cdbabb1877"
      #  run: terraform plan -no-color
      
      - name: Terraform Plan
        uses: azure/powershell@v2
        id: plan
        env:
          ARM_CLIENT_ID: "d6ea5a29-28c8-4451-8497-695886d95ea8"
          ARM_TENANT_ID: "85267153-8057-47e2-8a1c-09cdbabb1877"
        with:
          inlineScript: |
            get-azcontext
            write-output ${{ env.ARM_CLIENT_ID }}
            terraform plan -no-color
          azPSVersion: "latest"

      # On merge to main apply changes
      - name: Terraform Apply
        id: apply
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        run: terraform apply -auto-approve

      #- name: Azure Storage
      #  run: |
      #    az storage blob upload-batch `
      #      --account-name 'sttfstategwcprd' `
      #      --source './scripts' `
      #      --destination 'state' `
      #      --auth-mode 'login' `
      #      --overwrite
      #  shell: pwsh

      #- name: Run Azure PowerShell inline script
      #  uses: azure/powershell@v2
      #  with:
      #    inlineScript: |
      #      Get-AzVM -ResourceGroupName "ResourceGroup11"
      #    azPSVersion: "latest"

      ##- name: Assign Costcenters
      ##  run: |
      ##     $accessToken = az account get-access-token --resource https://graph.microsoft.com `
      ##       --query accessToken --output tsv
      ##     write-host "::add-mask::$accessToken"
      ##     $accessToken = $accessToken | ConvertTo-SecureString -AsPlainText -Force
      ##     Connect-MgGraph -AccessToken $accessToken -NoWelcome
      ##     Get-MgServicePrincipal -Filter "appId eq '${{ secrets.AZURE_CLIENT_ID }}'"
      ##     # rest of the script here ... 
      ##  shell: pwsh       
      
      
